<footer>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-2">
                    <p> <strong>Links</strong> </p>
                    <ul>
                        <li routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}">
                            <a routerLink = "/">Home</a>
                        </li>
                        <li routerLinkActive = "active">
                            <a routerLink = "/about">About</a>
                        </li>
                        <li>
                            <a style="cursor:pointer;">Menu</a>
                        </li>
                        <li routerLinkActive = "active">
                            <a routerLink = "/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3" >
                    <p> <strong>Our Address</strong> </p>
                    <address>
                        <p>214 King Street West</p>  
                        <p>Downtown, Toronto</p>
                        <p>ONTARIO</p>
                        <span class="fa fa-phone">:+416 123 4567</span>
                        <i class="fa fa-suitcase">:+647 668 1234</i>
                        <span class="fa fa-envelope">:
                            <a style="cursor:pointer">ilfornello@food.net</a>
                        </span>
                    </address>
                </div>
                <div class="col-md-7 social-icons">
                        <ul  class="pull-right">
                            <li>
                                <a class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a class="fa fa-youtube"></a>
                            </li>
                            <li>
                                <a id="env" class="fa fa-envelope-o"></a>
                            </li>
                        </ul>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <span class="fa fa-copyright"> <small> Copyright 2015 Ristorante II Fornello</small></span>
    </div>
</footer>