<div class="row">
    <div class="col-md-12">
        <h4>Fishipizza</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <li class="list-group-item">
            <p class="list-group-item-heading">
                A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado, honey
                and arugula.
            </p>
            <a class="list-group-item-text">More
                <i class="fa fa-angle-double-right"></i>
            </a>
        </li>
    </div>
    <div class="col-md-2">
        <p>Our Unique Culinary Creations</p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <h4>Weekend Grand Buffet</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <p>This Month's Promotions</p>
    </div>

    <div class="col-md-10">
        <li class="list-group-item">
            <p class="list-group-item-heading">
                Featuring the mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees
                and five choicest deserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
            </p>
            <a class="list-group-item-text">More
                <i class="fa fa-angle-double-right"></i>
            </a>
        </li>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h4>Tommy McHugh</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        
        <li class="list-group-item">
            <p class="list-group-item-title">Executive Chef</p>
            <p class="list-group-item-heading">
                Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary
                world, he specializes in creating mouthwatering Mediterranean-Italian experiences.
            </p>
            <a class="list-group-item-text">More
                <i class="fa fa-angle-double-right"></i>
            </a>
        </li>
    </div>
    <div class="col-md-2">
        <p >Meet our Culinary Specialists</p>
    </div>
</div>


<hr>

<div class="row">
        <div class="col-md-12">
            <h4 ><a>Menu</a> </h4>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <app-menu-list> </app-menu-list>
    </div>
</div>
<hr>